body {
  background-color: #0b5345;
  z-index: -1;
  position: relative;
}

.most_eaten {
  color: #d6952c;
  font-size: 30px;
  margin-left: 10px;
  margin-top: 10px;
}

.average_cal {
  color: #aaa;
  font-size: 30px;
  margin-left: 10px;
  margin-top: 10px;
}

.past_meals {
  color: #ffffff;
  font-size: 70px;
  border-bottom: 5px solid #ffffff;
  margin-left: 10px;
  margin-top: 10px;
}

.orange-square {
  margin-top: 15px;
  margin-left: 10px;
  width: 85px;
  height: 85px;
  background-color: orange;
  border-radius: 20px;
  text-align: center;
  padding: 12px;
  font-size: 25px;
  color: #03583b;
  font-weight: bold;
}
.large-text {
  font-weight: bold;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 20px;
  color: #ffffff;
}
.small-text {
  margin-left: 10px;
  font-size: 14px;
  color: #ffffffbc;
}

.right_table {
  margin-top: 150px;
  border: 1px solid black;
  background-color: white;
  border-collapse: collapse;
}
.right_caption {
  border: 1px solid black;
  background-color: lightblue;
  font-weight: bold;
  color: brown;
  font-size: xx-large;
}

.right_headers {
  border-bottom: 1px solid black;
  border-right:  1px solid black;
  padding: 4px 6px;
}

td {
  padding: 4px 6px;
}

.right_data {
  border-bottom:  1px solid black;
  border-right:  1px solid black;;
}

.left_click_back{
  margin-top: 10px;
  margin-left: 10px;
}

.left_click_front{
  margin-top: 10px;
  margin-left: 10px;
}

.right_click_back{
  margin-top: 10px;
  margin-left: 10px;
}

.right_click_front{
  margin-top: 10px;
  margin-left: 10px;
}