@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");
@import url("https://fonts.cdnfonts.com/css/avenir");

* {
  font-family: "Sora", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
